{% extends "base.html" %}

{% block content %}
<h1>Browse Uploaded Images</h1>

<form action="{{ url_for('browse_routes.browse') }}" method="post" id="indexForm">
    <label for="index_name">Choose an index:</label>
    <select id="index_name" name="index_name" onchange="this.form.submit()">
        <option value="image_index" {% if selected_index == 'image_index' %}selected{% endif %}>Image Embeddings</option>
        <option value="text_index" {% if selected_index == 'text_index' %}selected{% endif %}>Text Embeddings</option>
    </select>
</form>

<form action="{{ url_for('browse_routes.delete_all_images') }}" method="post">
    <input type="hidden" name="index_name" value="{{ selected_index }}">
    <input type="submit" value="Delete All Images">
</form>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<div>
    {% for image_id, image_uri in images %}
        <div class="image-container">
            <p>{{ image_id }}</p>
            <img src="{{ image_uri }}" alt="{{ image_id }}">
        </div>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination">
    {% if page is defined and page is not none %}
        {% if page > 1 %}
            <a href="{{ url_for('browse_routes.browse', page=page-1, index_name=selected_index) }}">Previous</a>
        {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span>
        {% if page < total_pages %}
            <a href="{{ url_for('browse_routes.browse', page=page+1, index_name=selected_index) }}">Next</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
